body {
    font-family: Arial;
    background: #e8f1ff;
    margin: 0;
    text-align: center;
}

.home-box, .login-box {
    background: white;
    width: 350px;
    margin: 80px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888;
}

input, button {
    width: 85%;
    padding: 10px;
    margin: 7px;
    border-radius: 6px;
    border: 1px solid #bbb;
}

button {
    background: #1a73e8;
    color: white;
    cursor: pointer;
}

.btn {
    background: #1a73e8;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    width: 200px;
}
